.movie-grid {
    padding: 20px 50px;
    background: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

}

.movie-grid-loadmore {
    background: #1a1a1a;
    text-align: center;
    padding-bottom: 30px;

    button {
        font-size: 17px;
        padding: 5px 10px;
        background: none;
        color: white;
        border: 1px solid white;
        border-radius: 20px;
        transition: all 0.1s linear;

        &:hover {
            cursor: pointer;
            color: red;
            border: 1px solid red;
            font-weight: 500;
        }
    }
}