.footer-container {
    background-color: black;
    padding: 80px 250px;
    display: flex;
    justify-content: space-between;

    .footer-content {
        .item-content {
            li {
                list-style-type: none;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                a {
                    text-decoration: none;
                    color: #737373;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    @media screen and (min-width:1024px) {
        padding: 60px 200px;

    }

    @media screen and (max-width:1023px) and (min-width:740px) {
        padding: 60px 155px;

    }

    @media screen and (max-width:739px) {
        padding: 20px 10px;

        .footer-content {
            .item-content {
                li {
                    a {
                        font-size: 12px;

                    }
                }
            }
        }

    }
}