.footer-container {
    background-color: black;
    padding: 80px 250px;
    display: flex;
    justify-content: space-between;

    .footer-content {
        .item-content {
            li {
                list-style-type: none;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                a {
                    text-decoration: none;
                    color: #737373;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}