.header-container {
    padding: 0 50px;
    margin: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-search {
        display: flex;
        align-items: center;

        .logo {
            img {
                width: 200px;
                height: 70px;
            }
        }

        .search {
            display: flex;

            input {
                width: 310px;
                padding: 5px 10px 5px 34px;
                font-size: 15px;
                border-radius: 15px;
                border: 2px solid rgba(160, 237, 19, 0.756);
                outline: none;
                background: #2F3441;
                color: white;
            }

            i {
                font-size: 15px;
                padding: 5px;
                color: rgb(172, 172, 172);
                // background: #2F3441;
                position: relative;
                right: -32px;
                top: 5px;

            }
        }
    }

    .header-btn {
        button {
            font-size: 16px;
            color: #FFFBF8;
            padding: 8px 12px;
            background: #E50915;
            font-weight: 600;
            border-radius: 6px;
            margin-left: 10px;
            transform: scale(1);
            transition: all 0.2s linear;

            &:hover {
                cursor: pointer;
                // background: #ca000a;
                transform: scale(1.1);
            }
        }
    }
}