.movieDetail-container {
    background-color: #070d10;
    color: white;

    .movieDetail-content {
        padding: 50px;
        width: 70%;
        display: flex;
        margin: auto;

        .box-img {
            max-width: 340px;
            max-height: 510px;
            width: 100%;
            height: 100%;

            img {
                display: block;
                margin: auto;

                height: 100%;
                width: 300px;
                border-radius: 6px;
            }
        }

        .describe {
            padding: 0 20px;

            .name-movie {
                h1 {
                    font-size: 60px;
                    margin-bottom: 15px;
                }
            }

            .btn-movie {
                margin-bottom: 10px;

                .btn-trailer {
                    font-size: 17px;
                    color: white;
                    padding: 10px 15px;
                    background: rgba(18, 18, 231, 0.837);
                    border: none;
                    border-radius: 6px;
                    margin-right: 5px;
                    transition: all 0.3s linear;
                    transform: scale(1);

                    &:hover {
                        background: rgb(0, 0, 169);
                        cursor: pointer;
                        font-weight: 500;
                        transform: scale(1.05);
                    }
                }

                .btn-watch {
                    font-size: 17px;
                    color: white;
                    padding: 10px 15px;
                    background: rgb(236, 15, 15);
                    border: none;
                    border-radius: 6px;
                    transition: all 0.3s ease;
                    transform: scale(1);

                    &:hover {
                        background: rgb(190, 0, 0);
                        cursor: pointer;
                        font-weight: 500;
                        transform: scale(1.05);

                    }
                }

            }

            .detail {
                ul {
                    li {
                        list-style-type: none;
                        margin-bottom: 10px;
                        font-size: 17px;
                    }

                }
            }

        }
    }

    .listCast {
        padding: 30px 100px 60px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 20px;
        width: 80%;
        margin: auto;
        text-align: center;

        .castMovie {
            div {
                padding: 10px;

                img {
                    width: 100%;
                    border: 1px solid rgb(150, 150, 150);
                    border-radius: 5px;
                }
            }


            span {
                font-size: 18px;
            }
        }
    }

    .trailer-movie {
        padding-top: 30px;
        padding-bottom: 100px;
        border-top: 1px solid red;
        width: 50%;
        margin: auto;
        position: relative;

        h1 {
            margin-bottom: 20px;
            font-weight: 500;
            color: red;
        }

        .videoIntro {
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            height: 500px;

            .videoIntro-content {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .suggest {
        padding-bottom: 50px;

        .suggest-container {
            width: 80%;
            color: red;
            margin: auto;

            h1 {
                text-align: center;
            }
        }

    }

    // responsive
    @media screen and (max-width:739px) {
        .movieDetail-content {
            padding: 25px 0px;
            width: 90%;

            .box-img {
                img {
                    width: 200px;
                }
            }

            .describe {
                padding: 0 0 0 20px;

                .name-movie {
                    h1 {
                        font-size: 30px;
                        margin-bottom: 15px;
                    }
                }

                .btn-movie {

                    .btn-watch,
                    .btn-trailer {
                        padding: 5px 10px;
                        font-size: 16px;
                    }
                }

                .detail {
                    ul {
                        li {
                            font-size: 16px;
                        }

                    }
                }
            }
        }

        .listCast {
            padding: 20px 0px 30px;
            column-gap: 10px;
            width: 90%;

            .castMovie {
                div {
                    padding: 0px;
                }


                span {
                    font-size: 15px;
                }
            }
        }

        .trailer-movie {
            width: 95%;
            padding-bottom: 30px;

            .videoIntro {
                height: 300px;
                width: 100%;
            }
        }

        .suggest {
            padding-bottom: 0px;

            .suggest-container {
                width: 100%;
                color: red;
                margin: auto;

                h1 {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

        }
    }

    @media screen and (max-width:1024px) and (min-width:740px) {
        .movieDetail-content {
            padding: 25px 0px;
            width: 90%;

            .box-img {
                img {
                    width: 280px;
                }
            }

            .describe {
                padding: 0 0 0 20px;

                .name-movie {
                    h1 {
                        font-size: 50px;
                        margin-bottom: 15px;
                    }
                }

                .detail {
                    ul {
                        li {
                            font-size: 16px;
                        }

                    }
                }
            }
        }

        .listCast {
            padding: 30px 10px 60px;
            column-gap: 10px;

            .castMovie {
                div {
                    padding: 0px;

                    // img {
                    //     width: 100%;
                    //     border: 1px solid rgb(150, 150, 150);
                    //     border-radius: 5px;
                    // }
                }


                span {
                    font-size: 15px;
                }
            }
        }

        .trailer-movie {
            width: 700px;
            padding-bottom: 30px;

            .videoIntro {
                height: 400px;
                width: 100%;
            }
        }

        .suggest {
            padding-bottom: 0px;

            .suggest-container {
                width: 100%;
                color: red;
                margin: auto;

                h1 {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

        }
    }
}