.navbar-container {
    // margin-bottom: 350px;
    width: 100%;
    // position: fixed;
    z-index: 10;
    padding: 0 200px;
    background: rgb(11, 11, 11);

    .navbar-main-menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        .menu-item {
            list-style-type: none;

            &>a {
                color: rgb(236, 236, 236);
                text-decoration: none;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding: 10px 5px;
                border-bottom: 2px solid #0B0B0B;

                &:hover {
                    color: red;
                    border-bottom: 2px solid red;
                }

            }

            // svg {
            //     font-size: 14px;
            // }

        }
    }
}