.signIn-form {
    position: relative;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6e061e03-5507-4a8a-89c6-0fe522ed9873/dezjhrj-accd37a7-d1aa-4e68-be75-2f2181282557.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZlMDYxZTAzLTU1MDctNGE4YS04OWM2LTBmZTUyMmVkOTg3M1wvZGV6amhyai1hY2NkMzdhNy1kMWFhLTRlNjgtYmU3NS0yZjIxODEyODI1NTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.E-Gu7CCNF6NeaKGhPcQq9lBjnMYUztlfZ6a7IKPoJ8U");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: 1;

    .form-content {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 10;
        padding: 40px 50px;
        color: white;

        form {
            // border: 1px solid red;
            width: 30%;
            // max-height: 50%;
            background: rgba(0, 0, 0, 0.777);
            margin: auto;
            padding: 50px 60px 40px 60px;
            // border-radius: 10px;

            h2 {
                font-size: 40px;
                font-weight: 700;
                color: white;
                margin-bottom: 30px;
            }


            .error {
                color: #E50914;
                padding-left: 10px;
            }



            .inputuser {
                padding: 10px 15px;
                font-size: 17px;
                width: 100%;
                // margin-bottom: 20px;
                margin-top: 20px;
                background: #333333;
                border: none;
                height: 45px;
                color: white;
                outline: none;
                border-radius: 6px;
            }

            .btnSubmit {
                background: #E50914;
                font-weight: 700;
                margin-top: 30px;

                &:hover {
                    cursor: pointer;
                    font-size: 18px;
                }
            }

            .help-info {
                display: flex;
                justify-content: space-between;
                color: #A3B3A4;
                font-size: 14px;
                margin-bottom: 100px;

                .help {
                    display: block;
                }

                // div {
                //     #remember {
                //         width: 20px;
                //         color: #333333;
                //     }
                // }
            }

            .moreInfo {
                margin-bottom: 100px;
                color: #A3B3A4;

                span {

                    a {
                        color: white;
                        font-weight: 500;
                        text-decoration: none;
                        font-weight: 300;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }

                }

                p {
                    font-size: 13px;
                    margin-top: 10px;

                    a {
                        color: blue;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }


                }
            }
        }
    }
}