@import "header";
@import "footer";
@import "navbar";
@import "intro";
@import "slideMovie";
@import "mainContent";
@import "movieDetail";
@import "signIn";
@import "signUp";
@import "newMovie";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}